{% extends "template.html" %}
{% block content %}

<br/>
<br/>
<div class='add-transaction'>
    <h2>Complete all fields to register a new user:</h2>
</div>
<br/>
    <table >
        <form action="" method="POST">
            <tr>
                <td width='25%'></td>
                <td width='25%' align='right'>Username:   <input type="text" name="user_name" value="{{ request.form.user_name }}"></td>

                <td width='25%' align='right'>Password:   <input type="password" name="password" value="{{ request.form.password }}"></td>
                <td width='25%'></td>
            </tr>
            <tr>
                <td width='25%'></td>
                <td width='25%' align='right'>First Name: <input type="text" name="first_name" value="{{ request.form.first_name }}"></td>
                <td width='25%' align='right'>Last Name:  <input type="text" name="last_name" value="{{ request.form.last_name }}"></td>
                <td width='25%'></td>
            </tr>
            <tr>
                <td width='25%'></td>
                <td width='25%' align='right'>Email: <input type="text" name="email" value="{{ request.form.email }}"></td>
                <td width='25%'  align='right'><input type="submit" value="Add User"></td>
                <td width='25%'></td>
            </tr>

        </form>
    </table>
{% endblock %}
