{% extends "base.html" %}

{% block content %}
<div class="container">
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Edit Transaction</a></li>
  </ul>
<div id="tabs-1">
  <form action="{{ url_for('mod_trans') }}" method=post>
    {{ form.hidden_tag() }}
    
    {{ form.id.label }}
    {{ form.id(readonly=true) }}
   
    {{ form.account.label }}
    {{ form.account }}
    {% for message in form.account.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
   
    {{ form.category.label }}
    {{ form.category }}
    {% for message in form.category.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    <i>{{ form.goal.label }}</i>
    {{ form.goal }}
    {% for message in form.goal.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {{ form.notes.label }}
    {{ form.notes }}
    {% for message in form.notes.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {{ form.amount.label }}
    {{ form.amount }}
    {% for message in form.amount.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {{ form.email.label }}
    {{ form.email(readonly=true) }}
    
    {{ form.submit }}
  </form>
</div> <!-- end tabs-1-->
</div><!-- end tabs -->
</div><!-- end container -->
{% endblock %}
