{% extends "base.html" %}

{% block content %}

   <div class="container">
   <h3> Profile </h3>
       <h4>This is  {{ session['email'] }}'s profile page</h4>
       Here is where all the cool info about this user is stored.

  </div>
  <br>

 
  <h4>Accounts:</h4>
  <table border = "1" cellpadding="10">
        <thead>
            <tr>
                <th> Count </th>
                <th> Total </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td> 3 </td>
                <td> $4,500 </td>
            </tr>

        </tbody>
        <tfoot>
    </table>
    
   <h4>Categories:</h4>
  <table border = "1" cellpadding="10">
        <thead>
            <tr>
                <th> Count </th>
                <th> Total </th>
            </tr>
        </thead>
        <tbody>
      
            <tr>
                <td> Count </td>
                <td> $4,500 </td>
            </tr>



        </tbody>
        <tfoot>
    </table>
    
   <h4>Goals:</h4>
  <table border = "1" cellpadding="10">
        <thead>
            <tr>
                <th> Count </th>
                <th> % on target </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td> 8 </td>
                <td> 75% </td>
            </tr>
        </tbody>
        <tfoot>
    </table>

  
{% endblock %}